# IDE
*.code-workspace
.idea

# Build
out
dist

# mise
.mise.local.toml

# Node
node_modules/

# Python/Uv
__pycache__/
.venv/

# PSScriptAnalyzer
.github/scripts/install-psscriptanalyzer.ps1

# mkdocs
docs-html/
