# IDE
*.code-workspace
.idea

# Build
out
dist

# mise
.mise.local.toml

# Node
node_modules/

# Jscpd
.jscpd/html/

# PSScriptAnalyzer
.github/scripts/install-psscriptanalyzer.ps1

# TypeDoc
docs-html/
