# Ignore files that don't need formatting
.eslintignore
.editorconfig
.gitattributes
.gitignore
.github/
.husky/
.jscpd/
.jscpd.json
.prettierignore
.shellcheckrc
coverage/
dist/
docs-html/
node_modules/
LICENSE
*.lock
*.log
*.ps1
*.sh
